{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
    <div class="container s-container">
        <h1 class="s-title">Спасибо за отзыв</h1>
        <p class="s-description">Здравствуйте! Благодарим вас за оставленный отзыв о нашей компании. Мы очень рады, что
            вам понравилось наше обслуживание и услуги, и мы постараемся продолжать поддерживать высокий уровень
            качества в своей работе. Однако, хотим уточнить, что все отзывы проходят модерацию перед публикацией, чтобы
            обеспечить соответствие правилам и стандартам нашей компании. Мы стремимся предоставлять только полезную и
            точную информацию нашим клиентам и партнерам, поэтому мы проверяем все отзывы, чтобы убедиться в их
            достоверности и соответствии нашим требованиям.

            Еще раз спасибо за ваш отзыв, и мы будем рады продолжать обслуживать вас в будущем. Если у вас есть
            какие-либо вопросы или пожелания, пожалуйста, не стесняйтесь связаться с нами. Мы всегда готовы помочь.</p>
        <a href="{% url 'list-feedback' %}" class="s-button btn btn-primary btn-lg btn-block">В страницу отзывов</a>
    </div>
{% endblock %}