.mt-h {
    margin-top: 120px;
}

.grid-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
    position: relative;
    margin-bottom: 50px;
}

.tabs {
    position: sticky;
    left: 0;
    top: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.block-about-us {
    background-color: var(--third-color);
}

body {
    background-color: var(--third-color);
}

.lists {
    color: var(--first-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    padding: 20px;
    border-bottom: 2px dashed rgba(192, 192, 192, 0.486);
    background-color: white;
}

.info {
    color: rgb(238, 224, 32) !important;
}

.time {
    color: rgb(241, 37, 37) !important;
}

.lists span {
    color: rgb(34, 214, 28);
    margin-right: 5px;
}

.lists:last-child {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lists:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tabs-item {

    cursor: pointer;
    background-color: var(--first-color);
    color: white;
    padding: 20px 10px;
    font-weight: 700;
}

.tabs-item--active {
    background-color: #092f52;
}

.style1__p {
    font-size: 20px;
    color: var(--first-color);
    font-weight: 500;
}

.arrow {
    margin-top: 80px;
    margin-right: 10px;
    max-width: 200px;
}

.style1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    grid-gap: 30px;
    justify-content: space-between;
}

.style1__img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.style1__title {
    color: var(--first-color);
    font-weight: 700;
    font-size: 30px;
}

.style1__des {
    margin-top: 20px;
    color: var(--first-color);
    font-weight: 500;
    font-size: 16px;
}

.style2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    grid-gap: 30px;
    justify-content: space-between;
}

.style2__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    flex-direction: column;
}

.style2__icon {
    color: rgba(254, 127, 118, 1);
    font-weight: 700;
    font-size: 50px;
}

.style2__title {
    text-align: center;
    color: var(--first-color);
    font-weight: 500;
    font-size: 15px;
}

.style3 {
    color: var(--first-color);
    font-weight: 700;
    font-size: 30px;
}

.card-row {
    width: 100%;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}

.card-item {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 500px;
    margin-bottom: 30px;
}

label {
    margin-bottom: 0.5rem;
}

.title {
    font-weight: 900;
    font-size: 24px;
    color: var(--first-color);
    margin-bottom: 20px;
}

.card-item__name {
    color: var(--first-color);

    font-weight: 700;
    font-size: 20px;
    margin: 20px;
    margin-left: 0px;
}

.card-item__img {
    width: 100%;
    height: 400px;
}

.card-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.card-item__pos {
    margin: 20px;
    font-size: 12px;
    color: var(--first-color);
}

.card-item__des {
    margin: 20px;
    margin-left: 0px;
    font-size: 15px;
    font-weight: 500;
    color: var(--first-color);
}

.card-item__contact {
    padding: 15px 15px;
    color: rgba(254, 127, 118, 1);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transition: 0.2s ease;
    border: 1px solid rgba(254, 127, 118, 1);
    background-color: white;
}

.card-item__contact:hover {
    color: white;
    transition: 0.2s ease;
    background-color: rgba(254, 127, 118, 1);
}

.tabstop {
    display: flex;
    flex-wrap: wrap;
}

.tabstop__item {
    padding: 10px;
    background-color: rgba(254, 127, 118, 1);
    color: white;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tb1-item--active {
    background-color: rgb(207, 78, 69);
}

.tb2-item--active {
    background-color: rgb(207, 78, 69);
}

.tb3-item--active {
    background-color: rgb(207, 78, 69);
}

.tb4-item--active {
    background-color: rgb(207, 78, 69);
}

.style-block {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

#burger_menu {
    z-index: 11;
}

.mt-10 {
    margin-top: 150px;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;
    transform: translateY(100vh);
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    transition: 0.4s ease;
}

.menu.active {
    transition: 0.4s ease;
    transform: translateY(0);
}

.menu_block {
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 700px) {

    .card-row {
        grid-template-columns: minmax(200px, 1fr);
    }

    .style1 {
        grid-template-columns: minmax(200px, 1fr);
    }

    .grid-2 {
        grid-template-columns: minmax(200px, 1fr);
    }

    .style2 {
        grid-template-columns: minmax(200px, 1fr);
    }

    .card-item__img {
        width: 100%;
    }

    .style1__img {
        width: 100%;
    }

    .style1__title {
        font-size: 24px;
    }

    .tabstop__item {
        flex-basis: 100%;
    }
}

.footer {
    background-color: var(--first-color);
    color: white;
    padding: 80px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-network__item {
    margin-left: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.social-network:last-child {
    margin: 0;
}

.social-network__item:hover {
    color: rgb(155, 155, 155);
}

.logo-area {
    margin-top: 30px;
    width: 250px;
}

.logo-area img {
    width: 100%;
}

.inf-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.inf-block__item:first-child {
    border-left: none;
}

.inf-block__item {
    border-left: 1px solid rgba(254, 127, 118, 1);
    padding-left: 10px;
    margin-left: 20px;
}

.copyright {
    margin-top: 30px;
    color: var(--second-color);
    text-align: center;
}

.lists__header {
    text-align: center;
    width: 100%;
    font-weight: 700;
    margin: 20px 0;
    font-size: 2rem;
    color: #0F4474;
    padding: 1rem;
}


.containerform {
    max-width: 580px;
    margin: 120px auto;

}

.lefta {
    object-fit: contain;
}

.contact {
    display: flex;
    margin-top: 120px;
    font-size: 16px;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 320px;
    margin: 0 auto;
    flex-direction: column;
}

.mxauto {
    margin: 20px auto !important;
}

.contact__item {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    flex-basis: 50%;
    color: #0F4474;
    height: 70vh;
    margin-bottom: 20px;
}

.contact__item h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact__item p {
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact__item .contacts {
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .card-item__img {
        width: 100%;
    }

    .style1__img {
        width: 100%;
    }

    .footer {
        padding: 80px 20px;
    }

    .lists {
        font-size: 15px;
    }

    .card-item {
        padding: 10px;
    }

    .main-center-block {
        padding: 10px;
    }

    .title_scale-1dot5 {
        font-size: 25px;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .contact {
        flex-wrap: wrap;
    }

    .contact__item {
        flex-basis: 100%;
    }
}

.navigation_items-blue {
    padding: 0px 20px;
    border-radius: 4px;
    border: 1px solid rgba(254, 127, 118, 1);
}

.navigation_items-blue:hover {
    background: rgba(254, 127, 118, 1);;
}

.navigation_items-blue:hover .navigation_links {
    color: white;
}


.acceleration-program {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.acceleration-program__item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.mb-10 {
    margin-bottom: 100px;
}

.acceleration-program__item:hover {
    background: #f3f3f3;
}

.acceleration-program-title {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    font-weight: 700;
    color: #0F4474;
}

.acceleration-program__icon {
    color: #0F4474;
    font-size: 35px;
}

.acceleration-program__link {
    font-size: 15px;
    margin-top: 5px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.pages-background {
    background-color: white;
    padding-top: 10px;
    margin-top: 120px;
    padding-bottom: 120px;
}

.img-page {
    float: right;
    max-width: 400px;
    margin: 20px;
}

.breadcamp {
    font-size: 10px;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.registerSeminar {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerSeminar__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}


.choose__item {
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 35px;
    text-decoration: none;
    display: block;
}

.choose__item:hover {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
}

.choose__img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.choose__title {
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0F4474;
}

.choose__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.choose__button {
    padding: 7px 30px;
    display: inline-block;
    border-radius: 5px;
    margin: 0 auto;

    cursor: pointer;
    background-color: #0F4474;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.choose__button:hover {
    color: white;
    background-color: #0c355b;
}

@media screen and (max-width: 800px) {
    .registerSeminar {
        height: auto;
        padding: 110px 0px;
    }

    .registerSeminar__row {
        grid-template-columns: 1fr;

    }

    .choose__item {
        padding: 20px;
    }

    .choose__title {
        margin-top: 15px;
        font-size: 16px;
    }

    .choose__button-container {
        margin-top: 15px;
    }

    .choose__button {
        font-size: 16px;
    }
}

.s-container {
    color: #0f4474;
    margin-top: 130px;
}

.s-img {
    max-width: 284px;
    height: 100px;
    margin: 0 auto;
}

.s-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0px;
}

.s-description {

    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}

.s-button {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 50px;
}


blockquote.q-card-color-2 {
    --accent-color: rgb(243 243 243);
    --bg-color: #0f4474;
    --dot-color: rgb(255 255 255 / .125);
    --text-color: rgb(243 243 243);
    --text-color-author: rgb(33 29 30);
}

/* blockquote card setup*/
blockquote.q-card {
    --padding: 1rem;
    padding: var(--padding);
    color: var(--text-color, black);
    font-weight: 600;
    background-color: var(--bg-color, white);
    display: grid;
    gap: 1rem;
    background-image: radial-gradient(circle, var(--dot-color, rgb(0 0 0 / .125)) calc(25% - 1px), transparent 25%);
    background-size: 0.5rem 0.5rem;
    border-radius: 0.25rem;

}

blockquote.q-card::before {
    --qHeight: 4rem;
    content: "";
    margin-left: calc(var(--padding) * -1);
    margin-top: calc(var(--padding) * -1);
    height: var(--qHeight);
    width: calc(var(--qHeight) * 1.1);
    background-image: radial-gradient(
            circle at bottom right,
            transparent calc(var(--qHeight) / 4 - 1px),
            var(--accent-color, black) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2),
            transparent calc(var(--qHeight) / 2 + 1px)
    ),
    linear-gradient(var(--accent-color, black), var(--accent-color, black));
    background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
    background-position: top left, bottom left;
    background-repeat: space no-repeat
}

blockquote.q-card > .author {
    color: var(--text-color-author, white);
    background-color: var(--accent-color, black);
    justify-self: end;
    font-size: 0.75em;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
}

blockquote.q-card > .author::before {
    content: "- "
}

.feedback-grid {
    display: grid;
    gap: 20px;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 728px) {
    .feedback-grid {
        grid-template-columns:1fr;
    }
}

.feedback-create {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100000;
}

.feedback-create-icon {
    cursor: pointer;

    background: #0c355b;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.feedback-create-icon:hover {
    background: #0F4474;
}

.feedback-create-icon:active {
    background: #0F4474;
}

.feedback-create-icon img {
    width: 60%;
}


@media (min-width: 870px) {
    .card-row {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1160px) {
    .card-row {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

