{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
О нас
{% endblock %}
{% block content %}
<div class="mt-h main-center-block">
            
    <div class="grid-2 block-about-us mt-5">
        <div class="sidebar">
            <div class="tabs">
                <div class="tabs-item">Еxcellent Educational Centre</div>
                <div class="tabs-item">Области консалтинга</div>
                <div class="tabs-item">Программы повышения квалификации 2025 года</div>
            </div>
        </div>
       
        <div class="content">
            <div class="content_item">
                <div class="style2 mt-5">
                    <div class="style2__block">
                        <div class="style2__icon"><i class="fas fa-chevron-double-up"></i></div>
                        <p class="style2__title">Значительный опыт персонала в области консалтинга </p>
                    </div>
                    <div class="style2__block">
                        <div class="style2__icon"><i class="fas fa-sitemap"></i></div>
                        <p class="style2__title">Гибкость и адаптивность</p>
                    </div>
                    <div class="style2__block">
                        <div class="style2__icon">180+</div>
                        <p class="style2__title">Привлечение  более  180 академических экспертов и экспертов из бизнес-среды</p>
                    </div>
                </div>
                <div class="card-row mt-5">
                    
                    <article class="card-item">
                        <div class="card-item__img">
                            <img src="{% static 'images/ирина.jpeg' %}" alt="">
                        </div>
                        <div class="card-item__name">Ефимова Ирина Евгеньевна</div>
                        <p class="card-item__pos">Директор Excellent Educational Centre</p>
                        <div class="card-item__des">
                             Координатор по внедрению системы внутреннего обеспечения качества
                        </div>
                        <a href="#" class="card-item__contact">Связаться</a>
                    </article>
                    <article class="card-item">
                        <div class="card-item__img">
                            <img src="{% static 'images/2.jpeg' %}" alt="">
                        </div>
                        <div class="card-item__name">Мырзатаева Гульмира</div>
                        <p class="card-item__pos">Должность Excellent Educational Centre</p>
                        <div class="card-item__des">
                            координатор по продвижению в рейтингах QS World Rankings
                        </div>
                        <a href="#" class="card-item__contact">Связаться</a>
                    </article>
                    <article class="card-item">
                        <div class="card-item__img lefta">
                            <img src="{% static 'images/gulnaz.jpeg'%}" alt="">
                        </div>
                        <div class="card-item__name">Макулбекова Гульназ</div>
                        <p class="card-item__pos">Должность Excellent Educational Centre</p>
                        <div class="card-item__des">
                            координатор по продвижению ОП в рейтинге НПП Атамекен
                        </div>
                        <a href="#" class="card-item__contact">Связаться</a>
                    </article>
                    <article class="card-item">
                        <div class="card-item__img">
                            <img src="{% static 'images/4.jpeg'%}" alt="">
                        </div>
                        <div class="card-item__name">Бажирова Камшат</div>
                        <p class="card-item__pos">Должность Excellent Educational Centre </p>
                        <div class="card-item__des">
                            PhD, координатор по созданию бизнес-инкубаторов и развитию стартапов
                        </div>
                        <a href="#" class="card-item__contact">Связаться</a>
                    </article>
                </div>
                <div class="style1 mt-5">
                   
                    <div class="style-block" >
                        <h2 class="style1__title">Год основания (2020)</h2>
                        <p class="style1__des">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione inventore, temporibus nobis ad at magnam ex obcaecati rem incidunt quidem cumque culpa. Amet, ea nemo ullam iusto dolores inventore nisi.
                        </p>
                    </div>    
                    <img class="style1__img" src="{% static 'images/banner/1.jpeg' %}" alt="">
                </div>
               
                <div class="style1 mt-5">
                    <p class="style-block style1__title">Сотрудничество с  вузами, профессиональными обществами и бизнесом</p> 
                    <img class="style1__img" src="{% static 'images/banner/2.jpeg' %}" alt="">
                       
                </div>
        
                <div class="style1 mt-5" style="margin-bottom: 100px;">
                   
                    <p class="style-block style1__title">Оказание услуг с учетом полной адаптации к действуюшим процессам и процедурам университета</p> 
                </div>
       
            </div>
            <div class="content_item">
                <div class="lists"> 
                    <span><i class="fal fa-shield-check"></i></span>
                    Консалтинг в области обеспечения качества, участия в рейтингах, создания бизнес-инкубаторов и студенческих стартапов</div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    Тренинги и мастер-классы</div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    Оценивание/подготовка к аккредитации</div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    Консультации по развитию организации</div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    Привлечение сторонних консультантов для управления процессами</div>
                <div class="lists">
                    
                    <span><i class="fal fa-shield-check"></i></span>Управление процессами, составление академических и</div>
               
            </div>
             <div class="content_item">
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    1. Менеджмент в образовании: трансформация университета и управление изменениями (февраль 2025 г., сентябрь 2025 г.)
                    Целевая группа: топ-менеджмент вуза, руководители структурных подразделений, проектные менеджеры, директора институтов, деканы, заведующие кафедрами, руководители и сотрудники служб стратегического развития и управления качества.
                    Содержание программы: современные тренды высшего образования, контексты трансформации университета, стратегии развития и технологии управления в высшем образовании, образовательная политика в университете, инфраструктура и организационный дизайн университета, управление изменениями, технологии AGILE, создание команд для трансформации, личная трансформация и индивидуальная траектория развития
                </div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    2. Менеджмент в образовании: управление качеством
Целевая группа: топ-менеджмент вуза, руководители структурных подразделений, директора институтов, деканы, заведующие кафедрами, руководители и сотрудники служб управления качества.
Содержание программы: стратегическое управление вузом, разработка и реализаций стратегий, концепции академического качества, создание и развитие систем внутреннего обеспечения качеством на основе ESG, управление рисками, информация и документирование, OKP и KPI, пличная трансформация и индивидуальная траектория развития</div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    3. Менеджмент в образовании: управление образовательными программами и академическими процессами.
Целевая группа: руководители структурных подразделений, директора институтов, деканы, заведующие кафедрами, руководители образовательных программ
Содержание программы: стратегическое управление академическими процессами, конкурентные преимущества вуза и оптимальный портфель образовательных программ, модель и  пректирование образовательных программ на основе ESG, студентоцентрированное обучение, академические стратегии, цифровые технологии и искусственный интеллект в академическом процессе, теория поколений, личная трансформация и индивидуальная траектория развития</div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                     Менеджмент в образовании: стратегия преподавания и обучения
Целевая группа: руководители структурных подразделений, директора институтов, деканы, заведующие кафедрами, руководители образовательных программ, преподаватели, докторанты, магистранты
  Содержание программы: концептупльные понятия преподавания и обучения, стратегия Learning и Teaching, модель и  пректирование образовательных программ на основе ESG, студентоцентрированное обучение, обучение поколений Z и Альфа, методы преподавания и оценивания, ориентированные на результаты обучения, конструктивное выравнивание, развитие критического мышления, цифровые технологии и искусственный интеллект в академическом процессе, личная трансформация и индивидуальная траектория развития</div>
                <div class="lists">
                    <span><i class="fal fa-shield-check"></i></span>
                    5.     Инклюзивное образование в организациях высшего и послевузовского образования
Целевая группа: руководители учебно-методических подразделений, центров инклюзивного образования, директора институтов, деканы, заведующие кафедрами, руководители образовательных программ, преподаватели, докторанты, магистранты.
Содержание программы: тренды и политика в области инклюзивного образования, специфика применения инклюзивных технологий в вузе, группы лиц с ООП, индивидуальный и дифференцированный подход к обучающимся с ООП, адаптивные методы преподавания и оценивания, индикативные показатели инклюзивного образования, личная трансформация и индивидуальная траектория развития</div>
                <div class="lists">

                    <span><i class="fal fa-shield-check"></i></span>6. Методика онлайн обучения / IT компетенции и методика онлайн-обучения по дисциплинам
Целевая группа: руководители учебно-методических подразделений, центров онлайн обучения, директора институтов, деканы, заведующие кафедрами, руководители образовательных программ, преподаватели, докторанты, магистранты.</div>
            </div>
            <div>
Содержание программы: квалификационные требования к онлайн-обучению, особенности организации учебного процесса при онлайн обучении, эффективные методики онлайн – обучения, геймификация, использование искусственного интеллекта, лучшие национальные и зарубежные кейсы.
Специфика Программ повышения квалификации – выполнение слушателями индивидуального проекта на материалах вуза, разработка практических рекомендаций, изучение лучших зарубежных кейсов, диагностика профессиональных компетенций, фокус на развитие потенциала и личностное развитие слушателей.
Программы проводится в онлайн/гибридном режиме на платформе ZOOM с возможностью проведения отдельных тренингов на базе университета.
Программы повышения квалификации проводится квалифицированными экспертами в области качества с участием ведущих международных экспертов. В качестве экспертов привлекаются сертифицированные специалисты, имеющие практический опыт на руководящих позициях в вузах и опыт международной экспертизы.
Продолжительность обучения: 90 часов (3 ECTS)
            </div>
        </div>
    </div>
</div>
{% endblock %}