{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
ОБЛАСТИ КОНСАЛТИНГА
{% endblock %}
{% block content %}
<div class="container">
    <div class="contact">
        <div class="contact__item">
            <div class="logo-area mxauto">
                <img src="{% static 'images/logo/logo-smaller.png' %}" alt="">
            </div>
            <p class="contact__par">
                К оказанию консалтинговых услуг Excellent Education Сentre привлекаются ведущие международные и национальные эксперты, имеющие значительный опыт и высокие результаты в соответствующих областях развития высшего образования. 
                Консалтинг осуществляется на казахском и/или русском языках, с привлечением лучших иностранных консультантов.
            </p>
            <div class="contacts">
                <div class="contact__contact">
                    <span><i class="fab fa-whatsapp"></i><strong>Whatsapp:</strong> +7 775 760 5260</span>
                </div>
                <div class="contact__contact">
                    <span><i class="fab fa-instagram"></i><strong>Instagram:</strong>excellent.kaz</span>
                </div>
                <div class="contact__contact">
                    <span><i class="fas fa-phone"></i><strong> Телефон: </strong>+7 775 760 5260</span>
                </div>
            </div>
           
           
        </div>
        <div class="contact__item">
            <h3>Адрес: Шымкент ул Куйбышева, 80</h3>
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/221/chimkent/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Шымкент</a><a href="https://yandex.kz/maps/221/chimkent/house/YkAYcAdhQUMEQFpofX55cXhhbQ==/?ll=69.601766%2C42.280391&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=17.6" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Куйбышева, 80 на карте Шымкента — Яндекс.Карты</a><iframe src="https://yandex.kz/map-widget/v1/-/CCUQb2Qi0C" width="100%" height="380px" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </div>
    
</div>
{% endblock %}