{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
<div class="mt-h main-center-block">
            
    <div class="grid-2 block-about-us mt-5">
        <div class="sidebar">
            <div class="tabs">
                <div class="tabs-item">Разработка и внедрение
                    системы внутренего обеспечения качества</div>
                <div class="tabs-item">Продвижения позиций университетов  мировых рейтингах  (QS World University Rankings)</div>
                <div class="tabs-item">Улучшение позиций образовательных программ в рейтинге Национальной Палаты Предпринимателей Атамекен</div>
                <div class="tabs-item">Создание университетских бизнес-инкубаторов</div>
              
            </div>
        </div>
       
        <div class="content">
            <div class="content_item">   
                <div class="tabstop tb1">
                    <div class="tabstop__item tb1-item">Что мы делаем?</div>
                    <div class="tabstop__item tb1-item">Что получаете вы</div>
                    <div class="tabstop__item tb1-item">Срок выполнение</div>
                </div>
                <div class="contenttop tc1">
                    <div class="contenttop__item tc1-item">
                        <div class="lists">
                            Оказание консультаций разработке и внедрению системы внутренего обеспечения качества
                        </div>
                        <div class="lists">
                            Проведение полного аудита действующих механизмов качества и составление Карты процессов системы качества
                        </div>
                        <div class="lists">
                            Разработка Политики качества, Руководства по обеспечению качества и Руководства по контролю качества
                        </div>
                        <div class="lists">
                            Определение Стандартизированных процессов качества и разработка процессуальных документов
                        </div>
                        <div class="lists">
                            Разработка Дорожной карты внедрения Системы внутреннего обучения качества
                        </div>
                        <div class="lists">
                            Обучение сотрудников отдела качества и руководителей подразделений
                        </div>
                        <div class="lists">Администрирование системы в течении академического периода, составление отчетов по качеству (совместно с представителями подразделений) и представление результатов</div>
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists">действующая и документированная система обеспечения качества, обученные сотрудники, готовность к прохождению институциональной аккредитации</div>
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists">6-10 месяцев</div>
                    </div>
                </div>                
            </div>
            <div class="content_item">   
                <div class="tabstop tb2">
                    <div class="tabstop__item tb2-item">Что мы делаем?</div>
                    <div class="tabstop__item tb2-item">Что получаете вы</div>
                    <div class="tabstop__item tb2-item">Срок выполнение</div>
                </div>
                <div class="contenttop tc2">
                    <div class="contenttop__item tc2-item">
                        <div class="lists">
                            Заполнение статистических показателей вуза совместно с ответственным из вуза по корректным методикам расчета QS с учетом нюансов (расчет соотношения ППС к численности обучающихся, доли иностранных студентов, доли иностранных ППС и другие).
                        </div>
                        <div class="lists">
                            Привлечение зарубежных экспертов для участия в опросе академической репутации (из разных предметных областей и вузов или научных организаций с учетом специфики заказчика)
                        </div>
                        <div class="lists">
                            Расширение базы контактов работодателей для участия в опросе репутации среди работодателей
                        </div>
                        <div class="lists">
                            Привлечение зарубежного эксперта для проведения консультирования по увеличению публикационной активности авторов в журналах индексируемых базой данных Scopus и WoS.
                        </div>
                        <div class="lists">
                            Консультирование сотрудников вуза по участию в рейтинге Развивающаяся Европа и Центральная Азия- EECA
                        </div>
                        <div class="lists">
                            Консультирование по выбору и продвижению нескольких предметных областей из 51 возможных  для участия в QS WUR by Subject
                        </div>
                        
                    </div>
                    <div class="contenttop__item tc2-item">
                        <div class="lists">функционирующий профайл вуза в QS CORE</div>
                        <div class="lists">заполненная база данных в QS CORE</div>
                        <div class="lists">база экспертов и работодателей</div>
                    </div>
                    <div class="contenttop__item tc2-item">
                        <div class="lists">6-10 месяцев</div>
                    </div>
                </div>                
            </div>
            <div class="content_item">   
                <div class="tabstop tb3">
                    <div class="tabstop__item tb3-item">Что мы делаем?</div>
                    <div class="tabstop__item tb3-item">Что получаете вы</div>
                    <div class="tabstop__item tb3-item">Срок выполнение</div>
                </div>
                <div class="contenttop tc3">
                    <div class="contenttop__item tc3-item">
                        <div class="lists">
                            Оказание консультаций по Улучшению позиций образовательных программ в рейтинге Национальной Палаты Предпринимателей Атамекен
                        </div>
                        <div class="lists">
                            Критериальный анализ позиций ОП в рейтинге Атамекен и разработка на его основе Дорожной карты по улучшению ОП
                        </div>
                        <div class="lists">
                            Получение экспертных заключений на ОП. Согласование с работодателями
                        </div>
                        <div class="lists">
                            Проработка и оформление студенческих старт апов
                        </div>
                        <div class="lists">
                            Сбор данных, проверка инвестиций и информации об академической мобильности
                        </div>
                        <div class="lists">
                            Проработка вопросов представления данных по трудоустройству
                        </div>
                        <div class="lists">Внесение данных в ЕСУВО совместно с представителями вуза</div>
                    </div>
                    <div class="contenttop__item tc3-item">
                        <div class="lists">заполненная статистика по ОП</div>
                        <div class="lists">оформленные стартапы</div>
                        <div class="lists">улучшение позиций вуза на 15-20%</div>
                    </div>
                    <div class="contenttop__item tc3-item">
                        <div class="lists">2-3 месяца</div>
                    </div>
                </div>                
            </div>
            <div class="content_item">   
                <div class="tabstop tb4">
                    <div class="tabstop__item tb4-item">Что мы делаем?</div>
                    <div class="tabstop__item tb4-item">Что получаете вы</div>
                    <div class="tabstop__item tb4-item">Срок выполнение</div>
                </div>
                <div class="contenttop tc4">
                    <div class="contenttop__item tc4-item">
                        <div class="lists">
                            Оказание консультаций по Созданию университетских бизнес-инкубаторов и развитию студенческих старт-апов
                        </div>
                        <div class="lists">
                            Разработка Положения, концепции и операционного устройства Бизнес-инкубатора
                        </div>
                        <div class="lists">
                            Разработка  перспективного и оперативного плана работы Бизнес-инкубатора
                        </div>
                        <div class="lists">
                            Обучение  2-3 сотрудников бизнес-инкубатора
                        </div>
                        <div class="lists">
                            Проведение внутреннего конкурса бизнес-идей и инновационных проектов
                        </div>
                        <div class="lists">
                            Проведение Программы аккселерации для отобранных бизнес-идей
                        </div>
                        <div class="lists">
                            Оформление 5 студенческих стартапов
                        </div>
                        <div class="lists">
                            Ведение акаунта бизнес-инкубатора в соцсетях
                        </div>
                    </div>
                    <div class="contenttop__item tc4-item">
                        <div class="lists">действующий бизнес - инкубатор</div>
                        <div class="lists">обученные сотрудники</div>
                        <div class="lists">Проведенная Программа аккселераци</div>
                        <div class="lists"> 5 студенческих стартапов</div>
                    </div>
                    <div class="contenttop__item tc4-item">
                        <div class="lists">6-7 месяцев</div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}