
{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
<div class="hero_banner block">
    <div class="main-center-block after-block">
        <div class="mt-5 title_scale-1dot5 d-left d-flex-center">
            <div class="text">
                <h1 class="title_scale-1dot5">ОТ ЛУЧШЕГО К ПРЕВОСХОДНОМУ </h1>
                <p class="mt-2 title_scale-2 p-medium c-white">Привлечение  более  180 академических экспертов <br> и экспертов из бизнес-среды</p>
                <a href="{% url 'direction' %}" class="mt-2 btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
</div>

<div class="main-center-block">

    <div class="block">
        <div class="block_inner">
            <div class="block_scale-2">
                <h2 class="title_scale-2">why the <span>excellent</span> <span>education</span> <span>center</span></h2>
            </div>
                <p class="text_scale-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident at, debitis deserunt dolorum dignissimos, reiciendis quae pariatur facilis ut voluptatibus ad corrupti voluptatem ullam nostrum dicta blanditiis et nulla beatae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam magnam enim id unde, aperiam dolor itaque quia quaerat repudiandae laborum veritatis. Magnam fugit fugiat necessitatibus iste aliquam esse veniam?
                </p>
        </div>
    </div>

    <!-- <div class="block">
        <div class="block_inner">
            <div class="block_scale-2">
                <h2 class="title_scale-2">featured insights</h2>
            </div>

        </div>
    </div> -->

    <div class="block">
        <div class="block_inner two_columns">
            <div class="per50_img__block">
                <img style="border-radius: 10px;"src="{% static 'images/banner/1.jpeg' %}" alt="image" class="per50_img">
            </div>
            <div class="per50_body">
                <div class="block_scale-1">
                    <h3 class="title_scale-1">your succes determines our</h3>
                </div>
                <p class="text_scale-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quibusdam illo dolorem cupiditate dicta molestiae, voluptates accusamus unde. Quos, commodi sapiente. Fugiat soluta, nulla at possimus doloribus obcaecati consequatur beatae?
                    In enim est corporis nostrum reprehenderit dignissimos asperiores neque voluptatum.
                </p>
            </div>
        </div>
    </div>

</div> <!-- main-center-block -->


<!-- <script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous">
</script> -->
{% endblock %}