{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
Тренинги и мастер-классы
{% endblock %}
{% block content %}
<div class="mt-h main-center-block">
            
    <div class="grid-2 block-about-us mt-5">
        <div class="sidebar">
            <div class="tabs">
                <div class="tabs-item">Бизнес английский</div>
                <div class="tabs-item">Корпоративный бизнес английский </div>
                <div class="tabs-item">Критическое и креативное мышление для предпринимателей</div>
                <div class="tabs-item">Развитие лидерства в образовании</div>
                <div class="tabs-item">Разработка образовательных программ с учетом НРК</div>
            </div>
        </div>
       
        <div class="content">
            <div class="content_item">   
                <div class="tabstop tb1">
                    <div class="tabstop__item tb1-item">Что мы делаем?</div>
                    <div class="tabstop__item tb1-item">Результаты обучения:</div>
                    <div class="tabstop__item tb1-item">Наши преимущества:</div>
                    <div class="tabstop__item tb1-item">Условия зачисления на курс:</div>
                    <div class="tabstop__item tb1-item">Длительность курса: </div>
                </div>
                <div class="contenttop tc1">
                    <div class="contenttop__item tc1-item">
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Этот курс направлен на совершенствование навыков владения английским языком путем развития лексики и навыков чтения, говорения и письма, а также понимания тона, стиля и знаний методов коммуникации в бизнес контексте. Полученные языковые навыки могут улучшить понимание целевой аудитории, анализа бизнес-кейсов и совершенствование основных стратегий деловых коммуникаций.
                        </div>
                        <!-- <div class="lists">
                            Бизнес английский. 
                        </div> -->
                        
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists__header">В результате обучения на курсах бизнес английского, вы овладеете следующими навыками: </div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            проводить презентации на английском языке</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            вести деловые переговоры и встречи, </div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            уметь представить себя и вести светскую беседу; </div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            говорить по телефону на стандартные деловые запросы; </div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            составлять деловые письма на английском языке. </div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            использовать соответствующий тон и стиль в контексте бизнес английского языка;</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            описывать экономические тренды;</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            знать культурные различия в международном бизнесе;</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            владеть навыками межкультурной деловой коммуникации. </div>

                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Коммуникативный подход к обучению;</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Методы погружения в реальные бизнес-кейсы</div>
                        <div class="lists">
                            <span ><i class="fal fa-shield-check"></i></span>
                            Аутентичные аудио-видео материалы из англоязычного бизнес-мира;</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Онлайн занятия в свободное от работы время;</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Выдача сертификата по окончанию курса</div>
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists">
                            <span class="info"><i class="fal fa-info-circle"></i></span>
                            - ваш уровень английского Pre-Intermediate или выше;</div>
                        <div class="lists">
                            <span class="info"><i class="fal fa-info-circle"></i></span>
                            - ежемесячная оплата.</div>
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists">
                            <span class="time"><i class="fal fa-clock"></i></span>
                            3 месяца. (з раза в неделю).  </div>
                    </div>
                </div>                
            </div>
            <div class="content_item">   
                <div class="tabstop tb2">
                    <div class="tabstop__item tb2-item">Что мы делаем?</div>
                    <div class="tabstop__item tb2-item">Наши преимущества:</div>
                    <div class="tabstop__item tb2-item">Выбрав наш курс, вы достигните результатов:</div>
                    <div class="tabstop__item tb2-item">Условия зачисления на курс:</div>
                    <div class="tabstop__item tb2-item">Длительность курса: </div>
                </div>
                <div class="contenttop tc2">
                    <div class="contenttop__item tc2-item">
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Вы хотели бы вывести вашу компанию на новый международный уровень или привлечь иностранных клиентов, партнеров или инвесторов? Если да, то навыки Бизнес английского жизненно важны для достижения целей вашей компании/организации. Как известно, английский язык признан самым популярным и доминирующим в деловом мире. Даже если у вас, или у сотрудников вашей компании, хороший уровень базового английского языка, обучение деловому английскому языку даст вам новые возможности вести переговоры на профессиональном уровне.  
                            Наш Центр готов оказать вам профессиональную помощь в развитии языковых навыков делового английского ваших сотрудников. 
                        </div>
                        <!-- <div class="lists">
                            Бизнес английский. 
                        </div> -->
                        
                    </div>
                    <div class="contenttop__item tc2-item">
                        
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Курс бизнес-английского разрабатывается индивидуально для каждой организации, с учетом специфики его деятельности</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Интенсивный, практический курс английского языка для делового общения (1 месяц)</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Оригинальные аудио и видео материалы для тренировки </div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Специальные методики обучения</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Компетентные и опытные преподаватели</div>
                       

                    </div>
                    <div class="contenttop__item tc2-item">
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Ваши сотрудники смогут представлять общую информацию о компании на английском </div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Свободно рассказывать о продукции или оказываемых услугах вашей компании на английском языке</div>
                        <div class="lists">
                            <span ><i class="fal fa-shield-check"></i></span>
                            Уметь понимать и отвечать на типичные вопросы потенциальных клиентов/партнеров</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Корректно составлять деловые письма для иностранных адресатов</div>
                        <div class="lists">
                            <span><i class="fal fa-shield-check"></i></span>
                            Грамотно отвечать на телефонные звонки или письменные деловые запросы</div>
                    </div>
                    <div class="contenttop__item tc2-item">
                        <div class="lists">
                            <span class="info"><i class="fal fa-info-circle"></i></span>
                            - ваш уровень английского Pre-Intermediate или выше;</div>
                        <div class="lists">
                            <span class="info"><i class="fal fa-info-circle"></i></span>
                            - ежемесячная оплата.</div>
                    </div>
                    <div class="contenttop__item tc2-item">
                        <div class="lists">
                            <span class="time"><i class="fal fa-clock"></i></span>
                            3 месяца. (з раза в неделю).  </div>
                    </div>
                </div>                
            </div>
           
        </div>
    </div>
</div>
{% endblock %}