{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
Тренинги и мастер-классы
{% endblock %}
{% block content %}
<div class="mt-h main-center-block">
            
    <div class="grid-2 block-about-us mt-5">
        <div class="sidebar">
            <div class="tabs">
                <div class="tabs-item">Критическое и креативное мышление для предпринимателей</div>
                <div class="tabs-item">Бизнес английский</div>
            </div>
        </div>
       
        <div class="content">
            <div class="content_item">   
                <div class="tabstop tb1">
                    <div class="tabstop__item tb1-item">Что мы делаем?</div>
                    <div class="tabstop__item tb1-item">Что получаете вы</div>
                    <div class="tabstop__item tb1-item">Срок выполнение</div>
                </div>
                <div class="contenttop tc1">
                    <div class="contenttop__item tc1-item">
                        <div class="lists">
                            Критическое и креативное мышление для предпринимателей. 
                        </div>
                        <div class="lists">
                            Бизнес английский. 
                        </div>
                        
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists"></div>
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists">6-10 месяцев</div>
                    </div>
                </div>                
            </div>
            <div class="content_item">   
                <div class="tabstop tb2">
                    <div class="tabstop__item tb2-item">Что мы делаем?</div>
                    <div class="tabstop__item tb2-item">Что получаете вы</div>
                    <div class="tabstop__item tb2-item">Срок выполнение</div>
                </div>
                <div class="contenttop tc2">
                    <div class="contenttop__item tc2-item">
                        <div class="lists">
                            Критическое и креативное мышление для предпринимателей. 
                        </div>
                        <div class="lists">
                            Бизнес английский. 
                        </div>
                        
                    </div>
                    <div class="contenttop__item tc2-item">
                        <div class="lists"></div>
                    </div>
                    <div class="contenttop__item tc1-item">
                        <div class="lists">6-10 месяцев</div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}